 <form action="/register" method="post">
  <div class="container">
    <h1>Register for book entry</h1>
     
    <label for="book"><b>Book</b></label>
    <input type="text" placeholder="Enter Book" name="book" id="book" required>

    <label for="nCopy"><b>Number of Copy</b></label>
    <input type="number" placeholder="Enter no. of copy" name="nCopy" id="nCopy" required>

    <label for="authname"><b>Author Name</b></label>
    <input type="text" placeholder="Enter Author Name" name="authname" id="authname" required>

    <p>By creating an account you agree to our <a href="/val">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
</form> 
 <img src="public/images/welcome.jpg" width="200" height="300"> 